---
import HeroOrbit from '@/components/effects/HeroOrbit.astro';
---

<section
  id="home"
  class="container flex min-h-[70dvh] md:min-h-[80vh] items-center justify-center lg:justify-start xl:max-w-6xl"
>
  <div class="grid grid-cols-1 items-center gap-8 lg:grid-cols-5">
    <div class="relative z-10 col-span-4 space-y-5 py-4 text-center lg:text-right">
      <HeroOrbit />
      <h1
        class="text-accent mb-0 md:mb-2 text-5xl sm:text-5xl font-bold md:text-6xl lg:text-7xl"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="300"
      >
        Agustin Mouriño
      </h1>
      <div class="space-y-1">
        <h2
          class="font-serif text-xl sm:text-2xl font-bold lg:text-3xl"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="500"
        >
          Desarrollador Full-Stack <br class="block sm:hidden" />
          <span class="hidden sm:inline">&</span> Diseñador UX/UI
        </h2>
        <p
          class="text-xl italic lg:text-2xl"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="700"
        >
          Transformo <span class="text-accent">ideas</span> en experiencias
          <span class="text-accent">excepcionales</span>
        </p>
      </div>
    </div>
  </div>
</section>
