---
import About from '@components/sections/About.astro';
import Hero from '@components/sections/Hero.astro';
import Proyects from '@components/sections/Proyects.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Agustin Mouriño | Desarrollador Full-Stack & Diseñador UX/UI"
  description="Desarrollador de software y diseñador gráfico interdisciplinario. Fusiono código elegante, arte ancestral y astronomía para crear soluciones atemporales. Explora proyectos, reflexiones filosóficas y mi viaje entre lo técnico y lo eterno. 🌌✨"
  canonical="https://www.moura.ar"
>
  <main class="container mx-auto px-4 py-16 max-w-7xl flex flex-col items-center justify-between">
    <!-- <HeroAlt /> -->
    <Hero />
    <About />
    <Proyects />
  </main>
</Layout>
